<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="5ce8dfcd-5a5a-4b3a-8cbf-73abf93522f5"
            Publisher="CN=Zedstar"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>FriendzHangout</DisplayName>
    <PublisherDisplayName>Zedstar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="FriendzHangout.App">
        <VisualElements
            DisplayName="FriendzHangout"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="FriendzHangout"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>